<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="Twitter">

<head>
	<title>Twitter</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--Application CSS Files-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel='stylesheet' href='/assets/css/style.css' />

	<!-- Application JS Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
	<script src="//rawgit.com/asafdav/ng-clip/master/src/ngClip.js"></script>
	<script src="/assets/js/app.js"></script>

	
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Twitter Stream</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <div class="container" ng-controller="StreamController">

      <div class="starter-template">
        <h1>World Cup 2015 Live stream</h1>
        <div class="row">
	        <div class="tweet repeat" ng-repeat="tweet in stream | reverse">
	        	<a href="//twitter.com/{{tweet.user.screen_name}}">@{{tweet.user.screen_name}}</a>: {{tweet.text}}
	        	<div class="created_at pull-right">{{tweet.created_at}}</div><br>
	      		<button class="btn btn-default" clip-copy="tweet.text">Copy!</button>
	        </div>
        </div>
        <button class="btn -btn-default" ng-click="load()"> Load More </button>
      </div>

    </div><!-- /.container -->


</body>

</html>